
.homeSlider {
  /* margin-top: 25px; */
  padding: 30px 0px;
}
.home_slider-main {
  border-radius: 25px;
  overflow: hidden;
  position: relative ;
}
.slick-arrow {
  position: absolute ;
  top: 50%;
  width: 42px !important;
  height: 42px !important;
  border-radius: 50% !important;
  background: #f2f3f4 !important;
  z-index: 10!important;
  text-align: center;
  transition: all 0.2s ease-in-out !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.slick-arrow.slick-next {
  right: 1% !important;
  
}
.slick-arrow.slick-prev {
  left: 1% !important;
}

.slick-arrow:hover::before {
  color: #fff !important;
}
.slick-arrow:hover {
  background: #3bb77e !important;
  color: white !important;
}

.slick-next::before {
  text-align: center;
  color: rgb(201, 201, 201) !important;
  /* color: rgb(0, 0, 0, 0.1); */
  font-size: 20px !important;
}
.slick-prev::before {
  text-align: center;
  font-size: 20px !important;
  color: rgb(201, 201, 201) !important;
}
.home_slider-main .slick-dots {
  position: absolute;
  bottom: 30px !important;
}

.home_slider-main .slick-dots button::before {
  height: 10px !important;
  width: 10px !important;
  font-size: 13px;
}
.slick-active button::before {
  color: #3bb77e !important;
}

.home_slider-main .item {
  position: relative;
}
.home_slider-main .item .info {
  position: absolute;
  top: 18%;
  left: 7%;
  z-index: 100;
}

.home_slider-main .item .info h2 {
  font-size: 60px !important;
  line-height: 65px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.8);
}

.home_slider-main .item .info p {
  font-size: 22px !important;
  color: #7e7e7e;
  font-weight: 400;
}
