.homeSection {
  /* margin-bottom: 20px; */
  padding: 25px 0px;
}
.filterTab li a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.8);
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.homeSection .container-fluid ul li {
  display: inline;
  margin-left: 15px;
}
.homeSection .container-fluid ul {
  margin-left: auto;
}

.filterTab li a:hover {
  top: -2px;
  color: #3bb77e;
}
.filterTab {
  margin-bottom: 0px !important;
}
.homeSection .product-row {
  display: flex;
  padding: 30px 0px;
  margin: 0px -15px;
  flex-wrap: wrap;
}

.homeSection .product-row .item {
  width: 20%;
  padding: 15px 15px;
}
.productSlider02 img {
  border-radius: 15px;
  padding: 0px !important;
}
.productSlider02 .productSlider .item {
  padding: 15px 10px;
  padding-right: 8px !important;
}
.popularSliderImg {
  width: 100% !important;
  height: 90% !important;
}

.TopProductSection {
  padding: 25px 0px;
}
.newsLetterSection {
  width: 100%;
  height: auto;
}
.newsLetterSection .box {
  background: url("../../images/bg.png");
  width: 100%;
  height: auto;
  padding: 60px 40px;
  border-radius: 15px;
  overflow: hidden;
}
.newsLetterSection .box .info h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 50px !important;
  opacity: 0.9;
}
.newsLetterSection .box .info p {
  font-size: 18px;
  font-weight: 400;
}
.newsLetterSection .box .info {
  width: 60%;
}
.newsLetterSection .box .img {
  width: 40%;
}
.newsLetterSection .box .img img {
  position: relative;
  top: 60px;
}
.newsLetterSection .box .newsletterBanner {
  position: relative !important;
  left: 0px !important;
  bottom: inherit !important;
}
