@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.transitions{
  transition: all 0.3s ease-in-out;
}

.container-fluid {
  padding: 0px 30px;
}
.cursor {
  cursor: pointer;
}
.bg-g,
.bg-success {
  background: #3bb77e !important;
}
.text-g {
  color: #3bb77e;
}
.hd{
  font-size: 30px;
  font-weight: 500;
  /* margin-bottom: 20px !important; */
}